{
  "openapi": "3.1.0",
  "info": {
    "title": "Vitopia Messaging API",
    "description": "API untuk mengirim pesan WhatsApp melalui channel yang telah dikonfigurasi. Gunakan Authorization Bearer API key Anda untuk autentikasi.",
    "version": "1.0.0",
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.vitopia.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/channels/{channelId}/messages": {
      "post": {
        "summary": "Kirim pesan WhatsApp",
        "description": "Mengirim pesan ke penerima tertentu melalui channel WhatsApp yang sudah dikonfigurasi.",
        "operationId": "sendWhatsappMessage",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "description": "ID unik dari channel WhatsApp yang digunakan untuk mengirim pesan",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              },
              "examples": {
                "Text Message": {
                  "summary": "Kirim pesan teks",
                  "value": {
                    "recipient": "+6281250335095",
                    "type": "text",
                    "text": "Example text message"
                  }
                },
                "Image Message": {
                  "summary": "Kirim pesan gambar",
                  "value": {
                    "recipient": "+6281250335095",
                    "type": "image",
                    "image_url": "https://example.com/image.jpg",
                    "caption": "Example caption"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pesan berhasil dikirim atau dijadwalkan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "status": "queued",
                  "message": "Pesan berhasil dimasukkan ke antrian.",
                  "message_id": "c2b9e120-5a9b-4f5e-9b7c-78c45a2c1234"
                }
              }
            }
          },
          "400": {
            "description": "Kesalahan validasi atau format payload tidak sesuai",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "invalid_request",
                  "message": "Field 'recipient' wajib diisi."
                }
              }
            }
          },
          "401": {
            "description": "API key tidak valid atau tidak diberikan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "API key tidak valid atau telah kedaluwarsa."
                }
              }
            }
          },
          "403": {
            "description": "API key tidak memiliki izin untuk endpoint ini",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": "forbidden",
                  "message": "API key Anda tidak memiliki izin untuk mengirim pesan WhatsApp."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": ["recipient", "type"],
        "properties": {
          "recipient": {
            "type": "string",
            "description": "Nomor telepon penerima dalam format internasional, contoh: +628123456789"
          },
          "type": {
            "type": "string",
            "enum": ["text", "image"],
            "description": "Jenis pesan yang dikirim"
          },
          "text": {
            "type": "string",
            "description": "Isi pesan teks (wajib jika type=text)"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL gambar (wajib jika type=image)"
          },
          "caption": {
            "type": "string",
            "description": "Keterangan gambar opsional"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status pesan: sent, queued, failed"
          },
          "message": {
            "type": "string",
            "description": "Deskripsi hasil eksekusi"
          },
          "message_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID unik pesan yang dikirim"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Kode error"
          },
          "message": {
            "type": "string",
            "description": "Deskripsi error"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    }
  }
}
